*{                                              /* Standartwerte */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;   
    text-decoration: none;
    list-style: none;
}

:root{                                              /* wiederverwendbare Variablen */
    --text-color: white;
    --lightblue-color: lightblue;
    --background-color: rgba(0, 0, 0, 0.8);
}

.dashboard{                                                  /*Dashboard beginn*/
    width: 100%;
    min-height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}

.content1{
    max-width: 900px;
 
}

h1{
    font-size: 62px;
    line-height: 1.2;
}